{% extends "base_template.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <p>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" style="max-width: 30%;">
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
            <input class="form-control" name={{ form.username.name }} type="email"
                   placeholder="Email" aria-label="default input example">
        </p>
        <p>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" style="max-width: 30%;">
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
            <input class="form-control" name="{{ form.password.name }}" type="password"
                   placeholder="Password" aria-label="default input example">
        </p>
        <button type="submit">Login</button>
    </form>
    <a href={% url 'password_reset' %}>Forgot password?</a>
{% endblock %}
