{% extends 'cabinet_index.html' %}

{% block title %}
    Edit Profile
{% endblock %}

{% block cab_content %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if is_email_confirmed %}
            <div class="alert alert-success" role="alert">
                Адрес электронной почты подтверждён.
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Адрес электронной почты не подтверждён.
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}