{% extends 'base_template.html' %}

{% block title %}Cabinet{% endblock %}

{% block content %}
    <nav class="navbar navbar-dark bg-dark">
        <ul class="nav">
            <li class="nav-item mx-1">
                <a class="btn btn-secondary btn-lg mb-2" href="{% url 'user-logout' %}">Logout</a>
            </li>
            <li class="nav-item mx-1">
                <a class="btn btn-primary btn-lg mb-2" href="{% url 'cabinet-edit' %}">Edit profile</a>
            </li>
            {% if request.user.is_staff %}
                <li class="nav-item mx-1">
                    <a class="btn btn-outline-danger btn-lg" href="{% url 'admin:index' %}">Admin panel</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}